:root {
  --primary-color: #0f0;
  --background-color: #000;
  --background-light-color: #111;
}

body, html {
 width: 100vw;
 min-width: 100vw;
 max-width: 100vw;

 overflow-x: hidden;
 overflow-y: auto;
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.btn {
  touch-action: manipulation;
}
#canvas {
  border: 1px solid red;
  width: 300px;
  height: 300px;
  max-width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.wrap {
  flex-wrap: wrap;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.btn {
  max-width: 100px;
  width: 100%;
  user-select: none;
}

#view {
  border: 2px solid var(--primary-color);
  /* padding: 8px; */
  background: var(--background-light-color);
  /* font-size: 0.5rem; */
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 columns, each taking 1 fraction of available space */
  grid-template-rows: repeat(3, 100px); /* Creates 3 rows, each 100px tall */
  gap: 0px; /* Adds space between grid items */
  border: 2px solid var(--primary-color);
  font-family: "Courier New", monospace;
  font-size: 10px;
  align-self: flex-start;
}
.grid span {
  width: 0.4rem;
  height: 0.4rem;
}
.hide {
    display: none;
}
.label {
    display: flex;
    align-self: center;
}

/* #view-wrapper {
  padding: 20px;
  background-color: rgb(226, 255, 6);
} */